@media (max-width: 1199px){
    .section {
      padding-right: 4rem;
      padding-left: 4rem;
    }
    .hero-03 .hero-content {
      padding-right: 4rem;
      padding-left: 4rem;
    }
    .scroll-button{
        display: block;
    }
    .menu-toggler.open{
        left: 105px;
    }
    .menu-toggler{
        display: block;
        position: fixed;
        top: 25px;
        left: 15px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .menu-toggler span{
        display: block;
        width: 40px;
        height: 40px;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        line-height: 44px;
        font-size: 22px;
    }
 
    .blog-image::before {
        height: 24%;
    }
    .hero-05 .hero-slide {
      background-size: auto 100%;
    }
    .hero-05 .hero-slide.zoom {
      background-size: auto 200%;
    }
 
    .color-switcher .pallet-button.hide{
        right: -60px;
    }
    .color-switcher .color-pallet.hide{
        right: -195px;
    }
	.modal-dialog {
		max-width: 100%;
  }
  .services-content h5 {
    font-size: 16px;
  }

}

// desktop to tablet
@media (max-width: 990px) {

  .arshia-dark .navbar-toggler span{
    color: #fafafa;
  }
  .navbar-toggler span{
    color: #1a1a1a;
  }
  .skill-box {
    margin-top: 60px;
  }
  .hero-03 .hero-item{
    text-align: center;
    margin-top: 32px;
  }
  .hero-03 .hero-item p {
    margin: auto;
  }
  .hero-03 .personal-image{
    text-align: center;
  }
  .hero-03 .hero-image img{
    width: 45%;
  }
  .hero-03 .square{
    display: none;
  }
  .hero-03 .hero-content {
    overflow-x: hidden;
  }

}

// tablet version
@media (max-width: 767px){
    .social-box{
        display: none;
    }
    .section {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    .hero-03 .hero-image img{
      width: 60%;
    }
    
}

// tablet to mobile
@media (max-width: 575px){
    .hero-02 .hero-content{
      padding-left: 2rem;
    }
    .about .personal-info span {
        display: block;
    }
    .language-bar .list-inline-item:not(:last-child) {
        margin-right: .25rem;
    }
    #message.toast {
        top: 18px;
        left: inherit;
        font-size: 12px;
        padding: 3px 0;
      }

}

// mobile version
@media (max-width: 380px){
    #message.toast {
        top: 60px;
        left: 15px;
    }
}
